.badge-brand {
  border-radius: 0.15rem !important;
  padding: .15rem !important;
  padding-right: .3rem !important;
}

.badge-brand slot-icon,
.badge-brand span {
  margin: auto;
}

.badge-brand-text {
  letter-spacing: .05rem;
}

.badge-inner {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
